{:kotoba.app/id "cloud.itonami.isic-6820", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicqizxi6pwvwkoaju76f655h4jc32prn2d2rf5oeciftu22647o2q", :kotoba.app/embed-url "ipfs://bafkreicqizxi6pwvwkoaju76f655h4jc32prn2d2rf5oeciftu22647o2q", :published {:archive "https://kotobase.net/ipfs/bafkreicqizxi6pwvwkoaju76f655h4jc32prn2d2rf5oeciftu22647o2q", :size 79155, :put-status 201, :get-status 200, :at "2026-08-15T13:45:29.912Z"}}
